@use "./constant" as *;
@use "./mixien" as *;
#actions {
  .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include media(md) {
      grid-template-columns: 1fr 1fr;
    }
    @include media(sm) {
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }
    @include media(em) {
      grid-template-columns: 1fr;
    }
  }
}
