@mixin media($data) {
  @if ($data == em) {
    @media screen and (min-width: 280px) and (max-width: 676px) {
      @content;
    }
  } @else if($data == sm) {
    @media screen and (min-width: 678px) and (max-width: 991px) {
      @content;
    }
  } @else if($data == md) {
    @media screen and (min-width: 992px) and (max-width: 1200px) {
      @content;
    }
  } @else if($data == mdsmem) {
    @media screen and (min-width: 200px) and (max-width: 991px) {
      @content;
    }
  } @else {
    @media screen and (min-width: 1210px) {
      @content;
    }
  }
}

@mixin flex($item, $just, $dir, $pad) {
  display: flex;
  flex-direction: $dir;
  justify-content: $just;
  align-items: $item;
  padding: $pad;
}
